# D3-FFV: File Format Verification

**Reference:** https://d3fend.mitre.org/technique/D3-FFV/  

## Definition
Verifying that a file conforms to its expected format specifications

## Parent Class(es)
- Content Validation

## Relationships
- **analyzes:** File Section
- **kb-reference:** Reference - File Security Using File Format Validation - OPSWAT Inc
