# D3-FMBV: File Magic Byte Verification

**Reference:** https://d3fend.mitre.org/technique/D3-FMBV/  

## Definition
Utilizing the magic number to verify the file

## Parent Class(es)
- File Metadata Value Verification

## Relationships
- **analyzes:** File Magic Bytes
- **kb-reference:** Reference - Carving Contiguous and Fragmented Files with Fast Object Validation
- **kb-reference:** Reference - Gathering Evidence: Model-Driven Software Engineering in Automated Digital Forensics

## Knowledge Base Article
## How it works

Many file formats use magic numbers to identify a file format or protocol. Verifying that the magic number matches the expected value of its declared format is a simple way of verifying the file format.
